@import url(http://fonts.googleapis.com/css?family=Exo:400,700);

// Fonts
@custom: 'Exo', sans-serif;
@default: arial, sans-serif;

//Colors
@white:#ffffff;
@red:#a6423d;
@light-gray:#f9f9f9;
@gray:#bcc0c5;
@gray2:#f3f3f3;
@dark-gray:#282a2e;
@text:#333333;
@green:#0baa6e;
@black:#000000;

// Common Herlpers 
.list(){
    list-style: none;
    padding-left: 15px;
    background: transparent url("images/list-bullet.gif");
}
.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

// CSS3 Customs styles
.opacity(@opacity: .9, @ie-opacity: 90){
    opacity: @opacity; /* other browsers and IE9+ */  
    filter: alpha(opacity=@ie-opacity); /* IE6+ */
}
.inline(){
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;   
}
.rounded(@radius: 3px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(PIE.php);
}
.shadow(@x-axis: 0px, @y-axis: 0px, @blur: 4px, @shadow-color: #d2d2d2){
    box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */    
    -moz-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */
	-webkit-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Safari and Chrome */
    behavior: url(PIE.php);
}
.gradient(@color: #e30d0d, @start: #e30d0d, @stop1: #e30d0d, @stop2: #d60d0d, @end: #d60d0d){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(50%,@stop1), color-stop(51%,@stop2), color-stop(100%,@end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top,  @start 0%, @stop1 50%,@stop2 51%,@end 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* IE10+ */
    background: -o-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e30d0d', endColorstr='#d60d0d',GradientType=0 ); /* IE6-9 */
    -pie-background: linear-gradient(@start, @stop1, @stop2, @end); /*PIE*/
    behavior: url(PIE.php);
}
.rotate(@deg: 180deg, @ie-deg: 2) {
    -webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@ie-deg);    
}
.button(){
    color:@white;
    display:block;
    float: left;
    font-family: @custom;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding:0px 15px;
    .rounded();
    .gradient();
    &:hover{
        text-decoration: none;
        .gradient(#373737, #373737, #373737, #2b2b2b, #2b2b2b,);
    }
    span{
        border-left: 1px solid @white;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        padding-left: 10px;
    }
}
.box(@color: @white){
    background: @color;
    margin-top: 15px;
    margin-bottom: 15px; 
    .rounded();
    .shadow();
}
.link-bar(@color: @gray2, @text-color: @white){
    background-color: @color;
    padding: 8px 20px;
    overflow: hidden;
    a{
        background: url("images/arrows.png") no-repeat; 
        color:@text-color;
        display: block;
        float: right;
        padding-left: 15px;
        &:hover{
            text-decoration: underline;
        }
    }
}