html{
    .mp0();
}
a{
	color: @red;
    text-decoration: none;
}
a:hover{
    color: @green;
    text-decoration: none;
}

body{
	background: @light-gray;
    font-family: @default;
    font-size: 14px;
    color: @text;
    text-align: center;
}
p{
	font-family:@default; 
	font-weight: normal;
}
input[type="submit"]{
	.button();
	/*float:right;*/
	width:auto;
}
input, textarea, select{
	display:block;
	font-family:@default;
	font-size:14px;
	outline-color:@green;
	outline-width: thin;
}
/* ---- Headers ---- */
h1, h2, h3, h4, h5, h6{
	font-family:@custom;
}
h1{
	font-size:40px;
}
h2{
	font-size:36px;
}
h3{
	font-size:30px;
}
h4{
	font-size:24px;
}
h5{
	font-size:22px;
}
h6{
	font-size:18px;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.alignnone{
    float: none;
}
/* ---- End Headers ---- */
#wrap{
	height: 100%;
	margin: auto;
	position: relative;
	text-align: left;

	header#site-header{
		background: @dark-gray;
		height: 90px;
		padding: 5px 0px;

		h1#logo{
			margin-bottom: 0px;
		}

		#social-network{
			padding-top: 25px;
			ul{
				color: @white;
				vertical-align:top;
				.mp0();
				li{
					list-style: none;
					display: inline;
					a{
						background: url("images/social-icons.png") no-repeat;
						display: inline-block;
						height: 37px;
						text-indent: -9999px;
						padding: 0px 2px;
						width: 37px;
					}
					&.facebook{
						a{
							background-position: 0px 0px;
							&:hover{
								background-position: -60px 0px;
							}
						}
					}
					&.twitter{
						a{
							background-position: 0px -50px;
							&:hover{
								background-position: -60px -50px;
							}
						}
					}
					&.youtube{
						a{
							background-position: 0px -100px;
							&:hover{
								background-position: -60px -100px;
							}
						}
					}
					&.flickr{
						a{
							background-position: 0px -150px;
							&:hover{
								background-position: -60px -150px;
							}
						}
					}
				}
			}
		}
	}
	#navigation{
		background: url("images/pattern.png"); 
		height: 50px;

		nav{
			margin-top: 10px;
			ul{
				.mp0();
				li{
					display: inline;
					list-style: none;
					margin: 0px 5px;
					a{
						background: transparent; 
						color: @white;
						display: inline-block;
						font-size: 18px;
						padding: 5px 10px;
						&:hover{
							background-color: @red;
							.rounded();
						}
					}
				}
			}
		}
		#search{
			background: rgba(40,42,46,30%);
			height: 50px;
			padding: 0px;

			input#s{
				background: transparent;
				border: none;
				color: @white;
				float: left;
				line-height: 48px;
				height: 48px;
				margin-left: 15px;
				width: 200px;
				outline: none;
			}
			input#searchsubmit{
				background: transparent url("images/search.png") center right no-repeat;
				width: 40px;
				margin-right: 15px;
				border: none;
				height: 48px;
			}
		}
	}
	#container{
		#content{
			margin-top: 15px;
			margin-bottom: 15px;
			.flexslider{
				border:none;
			}
			#slideshow{
				display: inline;
				float: left;
				.box();
				.rounded();
				.image{
					height: 253px;
					overflow: hidden;
					img{
						border-top-left-radius: 3px;
						border-top-right-radius: 3px;
					}
				}
				.link{
					margin-top: -40px;
					position: relative;
					.opacity(.9, 90);
					.link-bar(@red);
					a{
						background-position: 0px -54px;
					}
				}
				.text{
					padding: 30px;
					h2{
						color: @green;
						font-size: 24px;
						font-weight: normal;
						line-height: 28px;
					}
					p{
						margin-bottom: 0px;
					}
				}
				#pagination{
					padding: 0px 30px 30px;
					ul{
						.mp0();
						li{
							list-style: none;
							display: inline;
							a{
								background-color: @white;
								border: 2px solid @gray;
								color: @gray;
								display: inline-block;
								height: 25px;
								text-align: center;
								width: 25px;
								.rounded(20px);
								&:hover{
									background-color: @white;
									border: 2px solid @red;
									color: @red;
								}
							}
							.selected{
								background-color: @red;
								border: 2px solid @red;
								color: @white;
							}
							.prev{
								background:transparent url("images/arrows.png") 8px -84px  no-repeat; 
								border: none;
								&:hover{
									background:transparent url("images/arrows.png") 8px -114px  no-repeat;
									border: none;
								}
							}
							.next{
								background:transparent url("images/arrows.png") 8px 6px  no-repeat;
								border: none;
								&:hover{
									background:transparent url("images/arrows.png") 8px -24px  no-repeat;
									border: none;
								}
							}
						}
					}
				}
			}
			section#cases{
				article{
					display: inline;
					float: left;
					.box();
					.image{
						display: inline;
						float: left;
						height: 203px;
						margin:30px 14px 30px 30px;
						width: 203px;
						img{
							.rounded(100px);
						}
					}
					.text{
						display: inline;
						float: left;
						margin:30px  30px 30px 14px;
						width: 339px;
						h2{
        						font-size: 24px;
    							font-weight: normal;
    							line-height: 28px;                            
                            a{
    							color: @green;
                            }
						}
						p{
							margin-bottom: 0px;
						}
					}
					.link{
                        width: 94%;
						.link-bar(@gray2, @red);
						a{
							background-position: 0px -24px;
						}
					}
				}
			}
			.entry-header{
				padding: 20px 0 10px 0;
			}
			.nocomments{
				display: none;
			}
			article{
				margin-bottom: 40px;
				#respond{
					#submit{
						float:left;
						margin-bottom: 40px;
					}
				}
			}
		}
		aside{
			margin-top: 15px;
			margin-bottom: 15px;
			#checkpoints{
				color: @white;
				.box(@dark-gray);
				h2{
					border-bottom:1px solid @green;
					font-size: 24px;
					font-weight: normal;
					line-height: 50px;
					padding-left: 20px;
				}
				p{
					padding: 0px 20px;
				}
				.link{
					border-bottom-left-radius:3px;
					border-bottom-right-radius:3px;
					.link-bar(@black, @white);
					a{
						background-position: 0px -54px;
					}
				}
			}
			#voice{
				display: inline;
				float: left;
				.box();
				h2{
					background: @red;
					border-top-left-radius:3px;
					border-top-right-radius:3px;
					color: @white;
					font-size: 24px;
					font-weight: normal;
					line-height: 50px;
					padding-left: 20px;
				}
				.article{
					display: inline;
					float: left;
					padding: 15px;
					.image{
						display: inline;
						float: left;
						height: 59px;
						margin-right: 10px;
						width: 59px;
						img{
							.rounded(28px);
						}
					}
					.content-text{
						display: inline;
						float: left;
						width: 205px;
					}
				}
				.link{
					border-bottom-left-radius:3px;
					border-bottom-right-radius:3px;
					.link-bar(@gray2, @red);
					a{
						background-position: 0px -24px;
					}
				}
			}
			#twitter-box{
				display: inline;
				float: left;
				.box();
				h2{
					background: @red;
					border-top-left-radius:3px;
					border-top-right-radius:3px;
					color: @white;
					font-size: 24px;
					font-weight: normal;
					line-height: 50px;
					padding-left: 20px;
				}
				ul{
					list-style-type: none;
					padding:0px 15px;
					li{
						padding: 6px;
						border-bottom: 1px dashed @gray;
					}
				}				
			}
		}
		#sidebar{
			ul{
				list-style-type: none;
			}
		}
		#searchform{
			background: rgba(40,42,46,30%);
			height: 50px;
			padding: 0px;

			input#s{
				background: transparent;
				border: none;
				color: @white;
				float: left;
				line-height: 48px;
				height: 48px;
				margin-left: 15px;
				width: 200px;
				outline: none;
			}
			input#searchsubmit{
				background: transparent url("images/search.png") center right no-repeat;
				width: 40px;
				margin-right: 15px;
				border: none;
				height: 48px;
			}
		}		
	}
	footer#site-footer{
		background: @dark-gray;
		color: @white;
		line-height: 50px;
		text-align: center;  
	}
}
	
