@import url(http://fonts.googleapis.com/css?family=Exo:400,700);
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It is suggested that you read through the normalize.css file and customise it
   to meet the design requirements of a project rather including it as a "black
   box". @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/* Instead of relying on the fonts that are available on a user's computer, you
   can use web fonts which, like images, are resources downloaded to the user's
   browser. Because of the bandwidth and rendering resources required, web fonts
   should be used with care.

   Numerous resources for web fonts can be found on Google. Here are a few
   websites where you can find Open Source fonts to download:
   - http://www.fontsquirrel.com/fontface
   - http://www.theleagueofmoveabletype.com

   In order to use these fonts, you will need to convert them into formats
   suitable for web fonts. We recommend the free-to-use Font Squirrel's
   Font-Face Generator:
     http://www.fontsquirrel.com/fontface/generator

   The following is an example @font-face declaration. This font can then be
   used in any ruleset using a property like this:  font-family: Example, serif;

   Since we're using Sass, you'll need to declare your font faces here, then you
   can add them to the font variables in the _base.scss partial.
*/
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  /*
   * To use a 14px font size on the page, delete the 16px and 12px declarations.
   * To use a 12px font size on the page, delete the 16px and 14px declarations.
   */

  /* Use a 12px base font size */

  /* font-size: 75%;  16px x 75% = 12px */

  /* Use a 14px base font size */

  /* Use a 16px base font size */

  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Establish a vertical rhythm. */

  line-height: 1.5em;
}
/*
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;

@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}

 */
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * and Nimbus Sans fonts are commonly available on Linux systems where the MS
   * fonts are less common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif, serif or
   * monospace) hints at what type of font to use if the web browser doesn't
   * find any of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family: Arial, Helvetica, Verdana, Sans-Serif;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  /* Sets the line height to 2 units of vertical rhythm */

  /* Before line-height: 1.5em;  3rem / 2em = 1.5em */

  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */

  margin-top: 0;
  /* before margin-top: 0.75em;  1.5rem / 2em = .75em */

  margin-bottom: 0.75em;
}
h2 {
  font-size: 1.5em;
  line-height: 2em;
  /* 3rem / 1.5em = 2em */

  margin-top: 0;
  /* before margin-top: 1em;  1.5rem / 1.5em = 1em */

  /* Before margin-bottom: 1em; */

}
h3 {
  font-size: 1.17em;
  line-height: 1.282em;
  /* 1.5rem / 1.17em = 1.282em */

  margin-top: 0;
  /* before margin-top: 1.282em;*/

  /* Before  margin-bottom: 1.282em;*/

}
h4 {
  font-size: 1em;
  line-height: 1.5em;
  /* 1.5rem / 1em = 1.5em */

  margin-top: 0;
  /* before margin-top: 1.5em;*/

  /* Before margin-bottom: 1.5em; */

}
h5 {
  font-size: 0.83em;
  line-height: 1.807em;
  /* 1.5rem / 0.83em = 1.807em */

  margin-top: 0;
  /* before margin-top: 1.807em;*/

  /* Before margin-bottom: 1.807em; */

}
h6 {
  font-size: 0.75em;
  line-height: 2em;
  /* 1.5rem / .75em = 2em */

  margin-top: 0;
  /* before margin-top: 2em;*/

  /* Before margin-bottom: 2em; */

}
/* Thematic break */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 1.5em 30px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ffd75c;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 1.5em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
/* @todo Determine how big element affects vertical rhythm. */
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul,
.item-list ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 0 0 1.5em 0;
}
.item-list ul li {
  /* Drupal override */

  margin: 0;
}
dd {
  margin: 0 0 0 30px;
  /* LTR */

}
ul ul,
ul ol,
ol ul,
ol ol,
.item-list ul ul,
.item-list ul ol,
.item-list ol ul,
.item-list ol ol {
  margin: 0;
  /* Turn off margins on nested lists. */

}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol {
  padding: 0 0 0 30px;
  /* LTR */

}
ul,
.item-list ul {
  padding: 0 0 0 10px;
  /* LTR */

}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

  /* vertical-align: bottom; */
  /* Suppress the space beneath the baseline */

  /* Responsive images */

  /* @todo Add responsive embedded video. */

  max-width: 100%;
  height: auto;
}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.5em 0.625em 1em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */
  /* LTR */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -webkit-box-sizing: content-box;
  /* 2 */

  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* Prevent cramped-looking tables */

  /* Add vertical rhythm margins. */

  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #969696;
}
caption {
  background: #2d2d2d;
  padding: 5px;
  color: #fff;
  font-weight: bold;
}
/*
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
th {
  /* text-align: left;  LTR */

  padding: 0;
  border-bottom: none;
}
tr th,
thead th {
  color: #fff;
  font-weight: normal;
  background-color: #4f4f4f;
  border-right: 1px solid #969696;
  padding: 10px;
}
tr td {
  border-top: 1px solid #969696;
  border-right: 1px solid #969696;
  padding: 10px;
}
tr.odd td {
  background: #f2f7fc;
}
tbody {
  border-top: none;
}
/* =============================================================================
    Reset specific only for default browser values
   ========================================================================== */
p,
ul,
ol {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 0.5em;
}
/* =============================================================================
   Common classes useful on html
   ========================================================================== */
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.uppercase {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
html {
  margin: 0px;
  padding: 0px;
}
a {
  color: #a6423d;
  text-decoration: none;
}
a:hover {
  color: #0baa6e;
  text-decoration: none;
}
body {
  background: #f9f9f9;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #333333;
  text-align: center;
}
p {
  font-family: arial, sans-serif;
  font-weight: normal;
}
input[type="submit"] {
  color: #ffffff;
  display: block;
  float: left;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0px 15px;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari and chrome */
  -khtml-border-radius: 3px;
  /* Linux browsers */
  border-radius: 3px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  background: #e30d0d;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e30d0d), color-stop(50%, #e30d0d), color-stop(51%, #d60d0d), color-stop(100%, #d60d0d));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e30d0d 0%, #e30d0d 50%, #d60d0d 51%, #d60d0d 100%);
  /* Chrome10+,Safari5.1+ */

  background: -moz-linear-gradient(top, #e30d0d 0%, #e30d0d 50%, #d60d0d 51%, #d60d0d 100%);
  /* FF3.6+ */

  background: -ms-linear-gradient(top, #e30d0d 0%, #e30d0d 50%, #d60d0d 51%, #d60d0d 100%);
  /* IE10+ */

  background: -o-linear-gradient(top, #e30d0d 0%, #e30d0d 50%, #d60d0d 51%, #d60d0d 100%);
  /* Opera 11.10+ */

  background: linear-gradient(to bottom, #e30d0d 0%, #e30d0d 50%, #d60d0d 51%, #d60d0d 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e30d0d', endColorstr='#d60d0d', GradientType=0);
  /* IE6-9 */

  -pie-background: linear-gradient(#e30d0d, #e30d0d, #d60d0d, #d60d0d);
  /*PIE*/

  behavior: url(PIE.php);
  /*float:right;*/

  width: auto;
}
input[type="submit"]:hover {
  text-decoration: none;
  background: #373737;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(50%, #373737), color-stop(51%, #2b2b2b), color-stop(100%, #2b2b2b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #373737 0%, #373737 50%, #2b2b2b 51%, #2b2b2b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -moz-linear-gradient(top, #373737 0%, #373737 50%, #2b2b2b 51%, #2b2b2b 100%);
  /* FF3.6+ */

  background: -ms-linear-gradient(top, #373737 0%, #373737 50%, #2b2b2b 51%, #2b2b2b 100%);
  /* IE10+ */

  background: -o-linear-gradient(top, #373737 0%, #373737 50%, #2b2b2b 51%, #2b2b2b 100%);
  /* Opera 11.10+ */

  background: linear-gradient(to bottom, #373737 0%, #373737 50%, #2b2b2b 51%, #2b2b2b 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e30d0d', endColorstr='#d60d0d', GradientType=0);
  /* IE6-9 */

  -pie-background: linear-gradient(#373737, #373737, #2b2b2b, #2b2b2b);
  /*PIE*/

  behavior: url(PIE.php);
}
input[type="submit"] span {
  border-left: 1px solid #ffffff;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  padding-left: 10px;
}
input,
textarea,
select {
  display: block;
  font-family: arial, sans-serif;
  font-size: 14px;
  outline-color: #0baa6e;
  outline-width: thin;
}
/* ---- Headers ---- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo', sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}
/* ---- End Headers ---- */
#wrap {
  height: 100%;
  margin: auto;
  position: relative;
  text-align: left;
}
#wrap header#site-header {
  background: #282a2e;
  height: 90px;
  padding: 5px 0px;
}
#wrap header#site-header h1#logo {
  margin-bottom: 0px;
}
#wrap header#site-header #social-network {
  padding-top: 25px;
}
#wrap header#site-header #social-network ul {
  color: #ffffff;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
#wrap header#site-header #social-network ul li {
  list-style: none;
  display: inline;
}
#wrap header#site-header #social-network ul li a {
  background: url("images/social-icons.png") no-repeat;
  display: inline-block;
  height: 37px;
  text-indent: -9999px;
  padding: 0px 2px;
  width: 37px;
}
#wrap header#site-header #social-network ul li.facebook a {
  background-position: 0px 0px;
}
#wrap header#site-header #social-network ul li.facebook a:hover {
  background-position: -60px 0px;
}
#wrap header#site-header #social-network ul li.twitter a {
  background-position: 0px -50px;
}
#wrap header#site-header #social-network ul li.twitter a:hover {
  background-position: -60px -50px;
}
#wrap header#site-header #social-network ul li.youtube a {
  background-position: 0px -100px;
}
#wrap header#site-header #social-network ul li.youtube a:hover {
  background-position: -60px -100px;
}
#wrap header#site-header #social-network ul li.flickr a {
  background-position: 0px -150px;
}
#wrap header#site-header #social-network ul li.flickr a:hover {
  background-position: -60px -150px;
}
#wrap #navigation {
  background: url("images/pattern.png");
  height: 50px;
}
#wrap #navigation nav {
  margin-top: 10px;
}
#wrap #navigation nav ul {
  margin: 0px;
  padding: 0px;
}
#wrap #navigation nav ul li {
  display: inline;
  list-style: none;
  margin: 0px 5px;
}
#wrap #navigation nav ul li a {
  background: transparent;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  padding: 5px 10px;
}
#wrap #navigation nav ul li a:hover {
  background-color: #a6423d;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari and chrome */
  -khtml-border-radius: 3px;
  /* Linux browsers */
  border-radius: 3px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #navigation #search {
  background: rgba(40, 42, 46, 0.3);
  height: 50px;
  padding: 0px;
}
#wrap #navigation #search input#s {
  background: transparent;
  border: none;
  color: #ffffff;
  float: left;
  line-height: 48px;
  height: 48px;
  margin-left: 15px;
  width: 200px;
  outline: none;
}
#wrap #navigation #search input#searchsubmit {
  background: transparent url("images/search.png") center right no-repeat;
  width: 40px;
  margin-right: 15px;
  border: none;
  height: 48px;
}
#wrap #container #content {
  margin-top: 15px;
  margin-bottom: 15px;
}
#wrap #container #content .flexslider {
  border: none;
}
#wrap #container #content #slideshow {
  display: inline;
  float: left;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  /* Firefox */
  /* Safari and chrome */
  /* Linux browsers */
  /* CSS3 */
  /* All browsers */

  box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Safari and Chrome */

  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari and chrome */
  -khtml-border-radius: 3px;
  /* Linux browsers */
  border-radius: 3px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #container #content #slideshow .image {
  height: 253px;
  overflow: hidden;
}
#wrap #container #content #slideshow .image img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#wrap #container #content #slideshow .link {
  margin-top: -40px;
  position: relative;
  opacity: 0.9;
  /* other browsers and IE9+ */
  filter: alpha(opacity=90);
  /* IE6+ */

  background-color: #a6423d;
  padding: 8px 20px;
  overflow: hidden;
}
#wrap #container #content #slideshow .link a {
  background: url("images/arrows.png") no-repeat;
  color: #ffffff;
  display: block;
  float: right;
  padding-left: 15px;
}
#wrap #container #content #slideshow .link a:hover {
  text-decoration: underline;
}
#wrap #container #content #slideshow .link a {
  background-position: 0px -54px;
}
#wrap #container #content #slideshow .text {
  padding: 30px;
}
#wrap #container #content #slideshow .text h2 {
  color: #0baa6e;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
}
#wrap #container #content #slideshow .text p {
  margin-bottom: 0px;
}
#wrap #container #content #slideshow #pagination {
  padding: 0px 30px 30px;
}
#wrap #container #content #slideshow #pagination ul {
  margin: 0px;
  padding: 0px;
}
#wrap #container #content #slideshow #pagination ul li {
  list-style: none;
  display: inline;
}
#wrap #container #content #slideshow #pagination ul li a {
  background-color: #ffffff;
  border: 2px solid #bcc0c5;
  color: #bcc0c5;
  display: inline-block;
  height: 25px;
  text-align: center;
  width: 25px;
  -moz-border-radius: 20px;
  /* Firefox */
  -webkit-border-radius: 20px;
  /* Safari and chrome */
  -khtml-border-radius: 20px;
  /* Linux browsers */
  border-radius: 20px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #container #content #slideshow #pagination ul li a:hover {
  background-color: #ffffff;
  border: 2px solid #a6423d;
  color: #a6423d;
}
#wrap #container #content #slideshow #pagination ul li .selected {
  background-color: #a6423d;
  border: 2px solid #a6423d;
  color: #ffffff;
}
#wrap #container #content #slideshow #pagination ul li .prev {
  background: transparent url("images/arrows.png") 8px -84px no-repeat;
  border: none;
}
#wrap #container #content #slideshow #pagination ul li .prev:hover {
  background: transparent url("images/arrows.png") 8px -114px no-repeat;
  border: none;
}
#wrap #container #content #slideshow #pagination ul li .next {
  background: transparent url("images/arrows.png") 8px 6px no-repeat;
  border: none;
}
#wrap #container #content #slideshow #pagination ul li .next:hover {
  background: transparent url("images/arrows.png") 8px -24px no-repeat;
  border: none;
}
#wrap #container #content section#cases article {
  display: inline;
  float: left;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari and chrome */
  -khtml-border-radius: 3px;
  /* Linux browsers */
  border-radius: 3px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Safari and Chrome */

  behavior: url(PIE.php);
}
#wrap #container #content section#cases article .image {
  display: inline;
  float: left;
  height: 203px;
  margin: 30px 14px 30px 30px;
  width: 203px;
}
#wrap #container #content section#cases article .image img {
  -moz-border-radius: 100px;
  /* Firefox */
  -webkit-border-radius: 100px;
  /* Safari and chrome */
  -khtml-border-radius: 100px;
  /* Linux browsers */
  border-radius: 100px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #container #content section#cases article .text {
  display: inline;
  float: left;
  margin: 30px  30px 30px 14px;
  width: 339px;
}
#wrap #container #content section#cases article .text h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
}
#wrap #container #content section#cases article .text h2 a {
  color: #0baa6e;
}
#wrap #container #content section#cases article .text p {
  margin-bottom: 0px;
}
#wrap #container #content section#cases article .link {
  width: 94%;
  background-color: #f3f3f3;
  padding: 8px 20px;
  overflow: hidden;
}
#wrap #container #content section#cases article .link a {
  background: url("images/arrows.png") no-repeat;
  color: #a6423d;
  display: block;
  float: right;
  padding-left: 15px;
}
#wrap #container #content section#cases article .link a:hover {
  text-decoration: underline;
}
#wrap #container #content section#cases article .link a {
  background-position: 0px -24px;
}
#wrap #container #content .entry-header {
  padding: 20px 0 10px 0;
}
#wrap #container #content .nocomments {
  display: none;
}
#wrap #container #content article {
  margin-bottom: 40px;
}
#wrap #container #content article #respond #submit {
  float: left;
  margin-bottom: 40px;
}
#wrap #container aside {
  margin-top: 15px;
  margin-bottom: 15px;
}
#wrap #container aside #checkpoints {
  color: #ffffff;
  background: #282a2e;
  margin-top: 15px;
  margin-bottom: 15px;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari and chrome */
  -khtml-border-radius: 3px;
  /* Linux browsers */
  border-radius: 3px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Safari and Chrome */

  behavior: url(PIE.php);
}
#wrap #container aside #checkpoints h2 {
  border-bottom: 1px solid #0baa6e;
  font-size: 24px;
  font-weight: normal;
  line-height: 50px;
  padding-left: 20px;
}
#wrap #container aside #checkpoints p {
  padding: 0px 20px;
}
#wrap #container aside #checkpoints .link {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #000000;
  padding: 8px 20px;
  overflow: hidden;
}
#wrap #container aside #checkpoints .link a {
  background: url("images/arrows.png") no-repeat;
  color: #ffffff;
  display: block;
  float: right;
  padding-left: 15px;
}
#wrap #container aside #checkpoints .link a:hover {
  text-decoration: underline;
}
#wrap #container aside #checkpoints .link a {
  background-position: 0px -54px;
}
#wrap #container aside #voice {
  display: inline;
  float: left;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari and chrome */
  -khtml-border-radius: 3px;
  /* Linux browsers */
  border-radius: 3px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Safari and Chrome */

  behavior: url(PIE.php);
}
#wrap #container aside #voice h2 {
  background: #a6423d;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  line-height: 50px;
  padding-left: 20px;
}
#wrap #container aside #voice .article {
  display: inline;
  float: left;
  padding: 15px;
}
#wrap #container aside #voice .article .image {
  display: inline;
  float: left;
  height: 59px;
  margin-right: 10px;
  width: 59px;
}
#wrap #container aside #voice .article .image img {
  -moz-border-radius: 28px;
  /* Firefox */
  -webkit-border-radius: 28px;
  /* Safari and chrome */
  -khtml-border-radius: 28px;
  /* Linux browsers */
  border-radius: 28px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #container aside #voice .article .content-text {
  display: inline;
  float: left;
  width: 205px;
}
#wrap #container aside #voice .link {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #f3f3f3;
  padding: 8px 20px;
  overflow: hidden;
}
#wrap #container aside #voice .link a {
  background: url("images/arrows.png") no-repeat;
  color: #a6423d;
  display: block;
  float: right;
  padding-left: 15px;
}
#wrap #container aside #voice .link a:hover {
  text-decoration: underline;
}
#wrap #container aside #voice .link a {
  background-position: 0px -24px;
}
#wrap #container aside #twitter-box {
  display: inline;
  float: left;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari and chrome */
  -khtml-border-radius: 3px;
  /* Linux browsers */
  border-radius: 3px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 0px 4px #d2d2d2;
  /* for Safari and Chrome */

  behavior: url(PIE.php);
}
#wrap #container aside #twitter-box h2 {
  background: #a6423d;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  line-height: 50px;
  padding-left: 20px;
}
#wrap #container aside #twitter-box ul {
  list-style-type: none;
  padding: 0px 15px;
}
#wrap #container aside #twitter-box ul li {
  padding: 6px;
  border-bottom: 1px dashed #bcc0c5;
}
#wrap #container #sidebar ul {
  list-style-type: none;
}
#wrap #container #searchform {
  background: rgba(40, 42, 46, 0.3);
  height: 50px;
  padding: 0px;
}
#wrap #container #searchform input#s {
  background: transparent;
  border: none;
  color: #ffffff;
  float: left;
  line-height: 48px;
  height: 48px;
  margin-left: 15px;
  width: 200px;
  outline: none;
}
#wrap #container #searchform input#searchsubmit {
  background: transparent url("images/search.png") center right no-repeat;
  width: 40px;
  margin-right: 15px;
  border: none;
  height: 48px;
}
#wrap footer#site-footer {
  background: #282a2e;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
}
/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
@media print {
  a:link,
  a:visited {
    /* underline all links */
  
    text-decoration: underline !important;
  }
  #site-name a:link,
  #site-name a:visited {
    /* Don't underline header */
  
    text-decoration: none !important;
  }
  #content {
    /* Un-float the content */
  
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #content a[href]:after {
    /* Add visible URL after links. */
  
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    /* Only display useful links. */
  
    content: "";
  }
  #content abbr[title]:after {
    /* Add visible title after abbreviations. */
  
    content: " (" attr(title) ")";
  }
  body,
  #page,
  #main,
  #content {
    /* Turn off any background colors or images */
  
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    /* Hide sidebars and nav elements */
  
    visibility: hidden;
    display: none;
  }
}
/* End @media print */
@-moz-document url-prefix() {
  /* add styles only for firefox here... */
  nav ul#menu li a {
    padding: 13px 27px 13px 28px;
  }
  #wrap footer #policy h5 {
    margin-right: 19px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* add styles only for Safari/Chrome here... */
}
html.ie-8 {
  /* add styles only for IE8 here... */
}
html.ie-7 {
  /* add styles only for IE7 here... */
}
html.no-js {
  /* add styles for all IE versions here... */
}
html.mac {
  /* add styles only for MAC Safari here... */
}
